@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-image: url("images/blue_abstract_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


div.page-wrapper {
    background-color: white;
    border-radius: 30px;
    box-sizing: content-box;
    width: 65%;
    padding: 10px;
    font-family: 'Dancing Script', cursive;

}

.intro .banner h1 {
    font-size: 30px;
    color: darkorange;
    text-align: center;
}

.intro .banner h2 {
    font-size: 20px;
    text-align: center;

}

h3 {
    font-size: 20px;
    color: black;
}

.wrapper {
    background-color: darkgrey;
}

div p:nth-child(2):first-letter {
    font-size: 40px;
    font-weight: bolder;
}

p {
    font-size: 20px;
}

h1#title, h2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

section.intro header h2 abbr, div.summary p abbr{
    text-decoration: none;
}